<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AIRPLANE</title>
</head>
<body>
	<h2>1)</h2>
		<a href="/flight/all">All Flight Data</a>
	<h2>2)</h2>
		<a href="/flight/all/withtimes">All Flight Data - With Flight Times</a>
	<h2>3)</h2>
		<a href="/captain/flighttimes">Captain Flight Times</a>
	<h2>4)</h2>
		<a href="/captain/routes">Completed Routes By Captains - Who returned directly/indirectly to their starting location?</a>
	<h2>5)</h2>
		<a href="/route/all">All Possible Flight Routes</a> 
		<br/>
		<a href="/route/plan">Flight Route Planner</a>
</body>
</html>